@font-face {
  font-family: 'Steinbeck';
  src: url('../fonts/Steinbeck/SteinbeckReg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansMono';
  src: url('../fonts/NotoSansMono/NotoSansMono-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMono';
  src: url('../fonts/NotoSansMono/NotoSansMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMono';
  src: url('../fonts/NotoSansMono/NotoSansMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}