#nav-icon{
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span{
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #000000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 2px 2px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 2px 0 0 2px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 5px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 15px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 2px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 2px;
  top: 15px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 15px;
}


.tcontainer{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.3s ease-in-out;
}



.back {
  transform: translateY(50px);
  height: 0;
}

.tcontainer.open {
  .front {
    transform: translateY(-50px);
    height: 0;
  }
  .back {
    transform: translateY(0px);
    height: auto;
  }
}
button.active {
  border-color: #000000;
}
@layer utilities {
  b,strong{
    @apply text-black;
  }

  a.link{
    @apply cursor-pointer text-center px-6 py-2 border border-black bg-black text-white-10 block sm:inline-block  text-base font-medium font-reg lowercase transition ease-in-out duration-500 hover:bg-transparent hover:text-black;
  }
  .scrollbar-none{
    scrollbar-width: none;
  }
  .loadingspinner{
    @apply m-auto col-span-2 lg:col-span-3 pointer-events-none w-8 h-8 border-transparent border-4 border-white-20 border-t-gray-10 rounded-full ;
    animation: loadingspin 1s linear infinite;
  }
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}
