
@layer utilities {
  b,strong{
    @apply text-black;
  }
  .h-image{
    height: calc(100dvh - 65px - 100px);
  }
}

a.link, a.btn{
  @apply cursor-pointer text-center px-6 py-2 border border-black bg-black text-white-10 block sm:inline-block  text-base font-medium font-sans lowercase transition ease-in-out duration-500 hover:bg-transparent hover:text-black;
}
.scrollbar-none{
  scrollbar-width: none;
}


.loadingspinner{
  @apply m-auto col-span-2 lg:col-span-3 pointer-events-none w-8 h-8 border-transparent border-4 border-white-20 border-t-gray-10 rounded-full ;
  animation: loadingspin 1s linear infinite;
}
@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}


//Single page : project, product

.single-projects, .single-product, .page{
  .post-thumbnail{
    @apply bg-[#F6F6F6] border border-gray-10 md:h-image aspect-square md:aspect-auto;
    img{
      @apply w-full h-full object-cover object-center;
    }
  }
  h4.wp-block-heading{
    @apply font-sans text-xs text-gray-10 mb-8;
  }
  .nav-links{
    @apply flex bg-white-10 border border-gray-10;
    .nav-previous, .nav-next{
      @apply border border-gray-10 p-1.5 inline-block;
    }
  }
  ins{
    text-decoration: none;
  }
  del{
    @apply text-xs;
  }
}
.text-mask::after {
  content: "";
  background: linear-gradient(180deg, rgba(242, 242, 240, 0) 0%, #f2f2f0 100%);
  transition: opacity 0.3s;
  @apply absolute bottom-0 left-0 w-full h-[4.6rem] pointer-events-none ;
}


//Принятие куки
body{
  .cky-consent-container{
    @apply font-sans pl-4 pb-4 w-[95%] md:w-9/12;
    .cky-consent-bar{
      @apply px-3.5 py-2.5;
    }
    .cky-title{
      @apply hidden;
    }
    .cky-notice-des{
      @apply p-0;
    }
    .cky-notice-btn-wrapper{
      @apply p-0 md:px-6;
    }
    .cky-notice{
      @apply px-0 md:px-10;
      p{
        @apply text-sm md:text-base;
      }
    }
  }
}