// Общий стиль для всех нотификаций
.woocommerce-NoticeGroup-checkout {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 15px;
  border-left: 5px solid #e53e3e;
  color: #e53e3e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  div[role="alert"] {
    display: flex;
    align-items: center;
    width: 100%;

    ul.woocommerce-error {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      background: transparent;
      border-top: none;

      li {
        font-weight: bold;
        border-bottom: 1px solid rgba(229, 62, 62, 0.5);

        &:last-child {
          border-bottom: none;
        }
        a{
          text-decoration: none;
        }
      }

      &:before {
        content: none;
      }
    }
  }

  &:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath d="M12 10l2 2m0-2l-2 2m7-2c-1.46 0-2.78.5-3.88 1.32l-7.04-7.04C8.78 2.5 7.46 2 6 2 3.79 2 2 3.79 2 6s1.79 4 4 4c.84 0 1.63-.27 2.27-.73l7.04 7.04c-.47.93-.73 1.98-.73 3.01 0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4z" fill="none" stroke="%23e53e3e" stroke-width="2"/%3E%3C/svg%3E');
  }
}
.woocommerce-notices-wrapper,
.woocommerce-form-login-toggle,
.woocommerce-page{
  .woocommerce-message,
  .woocommerce-error,
  .woocommerce-info {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
    border-left: 5px solid;
    border-top: none;
    border-left: 5px solid #3f4042;
    background: #3f4042;
    color: #f2f2f0;

    &::before {
      font-size: 18px;
      margin-right: 10px;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: relative;
      top: auto;
      left: auto;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .woocommerce-message {
    &:before {
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath d="M9 11l3 3L22 4" stroke="%2338a169" stroke-width="2" fill="none"/%3E%3C/svg%3E');
    }
  }

  .woocommerce-error {
    &:before {
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath d="M12 10l2 2m0-2l-2 2m7-2c-1.46 0-2.78.5-3.88 1.32l-7.04-7.04C8.78 2.5 7.46 2 6 2 3.79 2 2 3.79 2 6s1.79 4 4 4c.84 0 1.63-.27 2.27-.73l7.04 7.04c-.47.93-.73 1.98-.73 3.01 0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4z" fill="none" stroke="%23e53e3e" stroke-width="2"/%3E%3C/svg%3E');
    }
  }
  .woocommerce-info {
    &:before {
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath d="M12 8v8m0 0H9m3 0h3" stroke="%233182ce" stroke-width="2" fill="none"/%3E%3C/svg%3E');
    }
  }
}
